.about-section {
  padding: 24px;
  text-align: center;
}

.about-content {
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  padding-top: 16px;
  font-family: "Dosis", sans-serif;
}

.about-text {
  max-width: 400px;
}
.about-img-list {
  display: flex;
  flex-direction: column;
}

.about-img-container {
  /* border-radius: 8px;
  border: 1px solid black;
  width: 250px; */
}

.about-image {
  border-radius: 8px;
  width: 450px;
  height: 275px;
}
.name-container {
  padding: 24px;
  display: flex;
  justify-content: left;
  font-family: "Nanum Gothic", sans-serif;
  font-size: x-large;
}
