.links-container {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contact-section {
  gap: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-img {
  width: 200px;
  border-radius: 100%;
}
