.links-container {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contact-link > a {
  text-decoration: none;
  color: white;
}

.contact-link > a :hover {
  color: rgb(160, 162, 169);
  transform: scale(1.1);
  transition: linear 0.2s;
}

.contact-section {
  gap: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-img {
  width: 200px;
  border-radius: 100%;
}
