.nav {
  display: flex;
  justify-content: end;
  gap: 16px;
  width: 100%;
  border: 1px solid black;
  padding: 8px;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-link {
  text-decoration: none;
}
