.App {
  background-image: url("/src/assets/brad-mann-2wbG8ZbWjEs-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  color: azure;
}
.about-image {
  width: 500px;
}
