.App {
  background-image: url("/src/assets/ferenc-horvath-skcFiBu91AA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  color: azure;
}
.about-image {
  width: 500px;
}
